
@media (max-width:500px){
    /*header*/
    .open, .close{
        display: block;
    }
    nav{
        background-color: $colorTerciario;
        border: 1px solid;
        padding: 10px;
    }
    nav h1{
        border: 0;
        padding: 0;
    }
    nav ul{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: absolute;
        z-index: 2;
        top: 0;
        right:0;
        bottom: 0;
        background-color:#ececec;
        padding: 1rem 3rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
      
    }
    nav ul a{
        border: 0;
        padding: 0;
    }
    nav ul .enlace1:hover{
        background: none;
        color:$colorPrimario;
    }
    ul.visible{
        opacity: 1;
        visibility: visible;
    }
    /*FOOTER*/
    .topFoot{
        flex-direction: column;
        
    }
    .contactFoot{
        text-align: start;
        padding-left: 30px;
    }
    .bootonFoot{
        flex-direction: column;
    }
    .bootonFoot .networks{
        width: 100%;
        border-bottom: 1px solid;
    }
    .networks a{
        margin-left: 25px;
    }
    .bootonFoot p{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid black;
    }
    /*INDEX*/
    .selloTienda{
        display: grid;
        grid-template-columns:repeat(1,minmax(200px,1fr));
        grid-template-rows:repeat(3,200px);
        row-gap:20px;
    }
    .card1{
        width: 100%;
        height: 100%;
    }
    .card1 img{
        width: 100%;
        height: 100%;
    }
    .collecionOne{
        grid-template-columns: repeat(2,200px);
        justify-items: center;
        gap: 20px;
    }
    .offerTienda
    {
        flex-direction: column;
    }
    .contentOffer{
        width: 100%;
        height: 300px;
    }
    .offerTienda img{
        width: 100%;
        height: 400px;
    }
    .buyTienda{
        font-size:25px;
    }
    .serviciosDestacado{
        flex-wrap: wrap;
    }
    /*NUEVO*/
    .nuevoSection{
        padding: 50px 30px;
    }
    .nuevoSection p{
        font-size:40px;
    }
    .collecionTwo{
        display: grid;
        grid-template-columns: 300px;
    }
    .card2{
        width: 100%;
    }
    /*nosotros*/
    .acercaDe{
        grid-template-areas:
        "titulo"
        "nosotros"
        "modelo"
        ;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .acercaDe h2{
        font-size: 40px;
    }
    .acercaDe .txtAcerca p{
        font-size: 16px;
    }
    .acercaDe .imgAcerca{
        height: 300px;
    }
    .suscribite{
        padding: 20px;
        grid-template-areas:
        "titulo"
        "imgSub"
        "formSub"
        ;
        grid-template-columns:1fr;
    }
    .suscribite .imgSub{
        display: none;
    }
    .suscribite .formSub{
        padding: 40px;
    }
    .suscribite .btnSubmit{
        color: $colorPrimario;
        cursor: pointer;
    }

    //condicion
    .faq{
        padding: 20px 0;
    }
    .faq h2{
        font-size: 40px;
    }
    .faq .questionFaq{
        padding: 0 30px;
    }
    .pago{
        padding: 20px 0;
    }
    .pago h2{
        font-size: 40px;
    }
    .pago .formaPago{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cardPago .font{
        transform:rotate(0);
        box-shadow: 0 0 0 0;
        z-index: 1;
        border: 1px solid;
    }
    .cardPago .back{
        box-shadow: 0 0 0 0;
        transform: rotate(0);
        z-index: 2;
        background-color: transparent;
        color: $colorPrimario;
    }
    .cardPago:hover .font{
        transform: perspective(0) rotateY(0);
    }
}