.nuevoSection{
    width: 100%;
    background-image: linear-gradient(rgba(230, 230, 230, 0.8), rgba(236, 240, 1, 0.842));
    padding: 100px 0;
}
.nuevoSection p{
    text-align: center;
    font-size: 60px;
    font-weight: 900;

}